body {
    min-height: 100vh; /* Ensures body is at least the height of the viewport */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    margin: 0; /* Optional: removes default body margin */
}

.footer-section{
    margin-top: auto;
}